@use '../custom' as *;

.eventos {

    &__title {
        font-size: 2rem;

        @include media-breakpoint-up(md) {
            font-size: 1.8rem;
        }
    }

    &__text {
        font-size: 1.6rem;

        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }
    }
}